<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="shortcut icon" href="/images/favicon2.png" type="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/responsive.css}" rel="stylesheet" />

</head>
<body class="sub_page">


<div class="hero_area">
    <div th:include="fragments :: header"></div>
</div>

<div class="main-content">
<section class="layout_padding2">
    <div class="container">

        <div class="heading_container">
            <div><h2>Schimbă parola</h2></div>
        </div>

        <div class="container mt-4">
            <form action="#" th:action="@{/users/updatePassword}" th:object="${pwdModel}" method="post" >

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Parola curentă:</label>
                        <input type="password" id="currentPassword" name="currentPassword" class="form-control" th:field="*{currentPassword}" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Noua parolă:</label>
                        <input type="password" id="newPassword" name="newPassword"  class="form-control" th:field="*{newPassword}" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                        <div th:if="${#fields.hasErrors('newPassword')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label">Confirmă noua parolă:</label>
                        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" th:field="*{confirmNewPassword}" required>
                    </div>
                </div>

                <div class="mb-4 w-25" th:if="${success}">
                    <p th:text="${success}" class="alert alert-success"></p>
                </div>
                <div class="mb-4 w-25" th:if="${error}">
                    <p th:text="${error}" class="alert alert-danger"></p>
                </div>

                <button type="submit" class="btn btn-primary">Salvează</button>
            </form>
        </div>
    </div>
</section>
</div>
<div th:include="fragments :: footer"></div>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>
</html>
